
/* targets all h1 elements */
h1{color:blue;} 
/* tagets any element with classname = title */
.title {color:blue;}
/* targetd thr one element with id = header */
#header{color:blue;}

/* flexbox */
.container{
  display: flex;
  /* stack vertically */
  flex-direction : column; 
  /* space between children */
  gap : 16px;
}

body{
  font-family: system-ui, sans-serif;
  background-color : #faf7f2;
  margin: 0;
  padding: 20px;
}

.app-container{
  max-width: 600px;
  margin: 0 auto;
}

h1{
  text-align : center;
  color: #333;
}

/* stacks your form fields vertically with consisten gaps */
form{
  display :flex;
  flex-direction: column;
  gap: 12px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow:  0 2px 8px rgba(0,0,0,0,1);
  margin-bottom: 24px;
}

/* > means that div child of a form */
form > div{
  display:flex;
  /* turns each label/input into a horiztonal flex row */
  align-items: center;   
  gap: 8px;
}
form label {
  width: 220px;
  text-align: right;
}
input,textarea{
  padding: 8px;
  border : 1px solid #ccc;
  border-radius : 4px;
  font-size: 14px;
}

button{
  background-color: #d97757;
  color:white;
  border: none;
  padding: 10px;
  border-radius : 4px;
  cursor: pointer;
  font-size: 14px;
}
button:hover{
  background-color: #c2603f;
}

.recipe-card{
  background: rgb(246, 243, 243);
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 12px;
  box-shadow: 0px 1px 4px rgba(0,0,0,0,0.8);
  text-align: left; 
}